
.text-bold {
    font-size: 36px;
    font-weight: bold;
  }
  
  .text-bold--small {
    font-size: 22px;
    font-weight: bold;
  }
  
  .vertical-center {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .gray-background {
    background: rgba(49, 49, 49, 255);
  }
  
  .contact-item:hover {
    color: #f3c900;
    transform: scale(1.1);
  }
  
  .be-in-touch-style {
    font-size: 40px;
    color: #f3c900;
  }
  
  .be-in-touch-style--small {
    font-size: 26px;
    color: #f3c900;
  }
  
  .footer-background {
    background-color: #303030;
  }
  
  .remove-line-height {
    line-height: 0;
  }
  
  .normal-line-height {
    line-height: 3.3rem;
  }
  
  .remove-padding {
    padding: 0;
  }
  
  .overlap-bottom {
    margin-bottom:-1px
  }
  
  .overlap-top {
    margin-top:-1px
  }
  
  #contactUsPhone {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    #contactUsPhone {
      display: block;
    }
    #contactUsDesktop {
      display: none;
    }
  }