.persian-text {
  font-family: bnazanin, serif !important;
  direction: rtl;
  text-align: justify;
}

.img-general-style {
  width: min(10rem, 200px);
  height: min(10rem, 200px);
  position: relative;
}

.image-shadow--bottom-left {
  filter: drop-shadow(0.25rem 0.25rem 0.3rem rgba(0, 0, 0, 0.5));
}

.image-shadow--top-right {
  filter: drop-shadow(-0.25rem -0.25rem 0.01rem rgba(0, 0, 0, 0.5));
}

.img-general-style:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.image-stack {
  content: " ";
  display: table;
  clear: both;
  grid-column: 2 / 2;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.image-stack__item--bottom-right {
  float: right;
  width: 90%;
  padding-top: 15%;
}

.image-stack__item--top-left {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding-top: 5%;
  z-index: 1;
}

.above {
  z-index: 1;
}

.chevron {
  position: relative;
  text-align: center;
  float: left;
  padding: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 200px;
}
.chevron::after,
.chevron::before {
  content: "";
  position: absolute;
  bottom: -1em;
  width: 50%;
  height: 100%;
  background: rgba(49, 49, 49, 255);
  z-index: -1;
}
.chevron:before {
  right: 50%;
  transform: skew(0deg, 6deg);
}
.chevron:after {
  left: 50%;
  transform: skew(0deg, -6deg);
}

.text-bold {
  font-size: 32px;
  font-weight: bold;
}

.vertical-center {
  display: grid;
  align-items: center;
  justify-content: center;
}

.gray-background {
  background: rgba(49, 49, 49, 255);
}

.contact-item:hover {
  color: #f3c900;
  transform: scale(1.1);
}

.be-in-touch-style {
  font-size: 36px;
  color: #f3c900;
}

.footer-background {
  background-color: #303030;
}